form{
    display: block;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: white;
    box-shadow: 2px 2px 4px grey;
    border-radius: 5px;
}

legend{
    color: #006b1b;
    text-align: left;
    font-size: xx-large;
}

label{
    font-weight: ;
    color: black;
}

input{
    width: 100%;
    height: 30px;
    border-radius:5px;
}

select{
    width: 100%;
    height: 40px;
}

button{
    width: 100%;
    background-color: #006b1b;
    color: white;
    text-align: center;
    height: 45px;
    border-radius: 5px;
}

