<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Page</title>

    {% load static %}
    <link rel="icon" href="{% static 'assets/about.png' %}">

    <link rel="stylesheet" href="{% static 'css/about.css' %}">

</head>
<body>

<a href="{% url 'home' %}">Home</a>
<a href="{% url 'gallery' %}">Gallery</a>
<a href="{% url 'form' %}">Form</a>
<a href="{% url 'info' %}">Info</a>


<h1>Additional information about CartDish</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorum eius iure magnam molestiae nihil nostrum, quas! Amet culpa delectus, error ex id impedit nisi nobis numquam totam vel vitae.</span><span>Accusamus commodi dolore, error id ipsa, maiores nostrum obcaecati optio praesentium quasi ratione rem repellat sunt voluptate, voluptatibus? Aliquid eius molestias possimus rerum sunt. Debitis error inventore porro quia voluptates!</span></p>

<h2>Why choose us?</h2>

<div id="main">
    <div class="mydiv">
        <img src="{% static 'assets/watch1.png' %}" alt="">
        <h3>Watch1</h3>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus placeat, quibusdam! Accusantium autem dolorum modi possimus repudiandae tempora. Ab at autem corporis dolores facilis iusto neque odio quidem recusandae sunt!</span><span>Dicta ex illum in quia voluptas! Animi beatae corporis eos ex, exercitationem harum illo ipsam ipsum molestias necessitatibus nostrum placeat quae quibusdam quod sed similique tempora ut vitae voluptas voluptate.</span></p>
        <button>More</button>
        
        
    </div>

    <div class="mydiv">
        <img src="{% static 'assets/watch2.png' %}" alt="">
        <h3>Watch2</h3>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus placeat, quibusdam! Accusantium autem dolorum modi possimus repudiandae tempora. Ab at autem corporis dolores facilis iusto neque odio quidem recusandae sunt!</span><span>Dicta ex illum in quia voluptas! Animi beatae corporis eos ex, exercitationem harum illo ipsam ipsum molestias necessitatibus nostrum placeat quae quibusdam quod sed similique tempora ut vitae voluptas voluptate.</span></p>
        <button>More</button>

    </div>
    <div class="mydiv">
        <img src="{% static 'assets/watch3.png' %}" alt="">
        <h3>Watch3</h3>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus placeat, quibusdam! Accusantium autem dolorum modi possimus repudiandae tempora. Ab at autem corporis dolores facilis iusto neque odio quidem recusandae sunt!</span><span>Dicta ex illum in quia voluptas! Animi beatae corporis eos ex, exercitationem harum illo ipsam ipsum molestias necessitatibus nostrum placeat quae quibusdam quod sed similique tempora ut vitae voluptas voluptate.</span></p>
        <button>More</button>

    </div>
    
    
    
    
</div>








</body>
</html>